/* Card.module.css */

.white {
    background-color: #ffffff;
    color: #000000;
  }
.whiteshade {
    background-color: #d7d7d7;
    color: #000000;
  }
  
  .about {
    background-color: #008080;
    color: #ffffff;
  }
  
  .portfolio {
    background-color: #054244;
    color: #ffffff;
  }
  
  .contact {
    background-color: #001F3F;
    color: #ffffff;
  }
  