@tailwind base;
@tailwind components;
@tailwind utilities;


@import "./styles/type";


body {
  font-weight: 400;
  font-display: swap;
  line-height: 1.75;

}
nav {
  position: relative;
  z-index: 50; /* Increase this number if needed */
}